RewriteEngine On
RewriteBase /

# Si le fichier/dossier demandé n'existe pas,
# on envoie la requête à index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
